service cloud.firestore {
  match /databases/{database}/documents {
    match /movies/{movieId} {
      allow read, write
    }
    match /users/{userId} {
    	allow read, write: if request.auth.uid == userId
      match /defaultProfile {
        allow read
      }
    }
  }
}
