*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

html {
  /* system font stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;

  --cat: 0.1s;
  --badger: 0.2s;
  --turtle: 0.4s;
}

body {
  position: relative;
  margin: 0;
  background: white;
  height: 100vh;
  background: linear-gradient(
    to top left,
    #c31fa8, #f5426b, #ef6616
  );
}

.full {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapp {
  height: 100%;
  display: grid;
  grid-template-rows: 72px 1fr;
}

header {
  padding: 0 32px;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  /* box-shadow: 5px 2px 5px rgba(0,0,0,0.1); */
}

header .item {
  margin-right: 20px;
}

header .item:last-child {
  margin-right: 0;
}

header .item.standoffish {
  margin-left: auto;
}

header a, header .link {
  color: white;
  text-decoration: none;
}

header a:hover, header .link:hover {
  color: white;
  text-decoration: underline;
  background: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formative {
  width: 90%;
  max-width: 400px;
}

.form-item {
  margin: 16px;
  display: flex;
  flex-direction: row;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.central {
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}


/* link and button nonsense I put way too much effort into */

a, .link, button, .btn {
  transition: color var(--badger),
              background-color  var(--cat),
              border-color var(--cat);
}

a, .link {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  color: var(--link-color, black);
  text-decoration: underline;
}

a:hover, .link:hover {
  color: mediumvioletred;
}

button, .btn {
  font-size: 1rem;
  padding: 0.4em 1em;
  border-radius: 0.3em;
  background: black;
  color: white;
  border: 2px solid transparent;
}

button:hover, .btn:hover {
  cursor: pointer;
  /* background: white; */
  /* color: mediumvioletred;
  border-color: mediumvioletred; */
  background: rgba(0,0,0,0);
  color: white;
  border-color: white;
}

button:focus, .btn:focus, a:focus, .link:focus {
  /* reasonable settings for the outlines that browsers use on focused elements */
  outline: dotted mediumvioletred 1px;
  transition: color var(--badger),
              background-color var(--cat);
}

button.wumbo, .btn.wumbo {
  font-size: 1.8rem;
  min-width: 6em;
}
